img#camera0 {
    width: 320px;
    height: auto;
    /*width: auto;
    height: 240px;*/
}
img#camera1 {
    width: 320px;
    height: auto;
    /*width: auto;
    height: 240px;*/
}
img#camera2 {
    width: 320px;
    height: auto;
    /*width: auto;
    height: 240px;*/
}